@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Lato', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container{
 background-color: #564a94;
 padding-left: 1rem;
 height: 60px;
 min-height: 60px;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  height: 100%;
}

.nav-container input[type='search']{
  padding: .7rem 0;
  width: 45%;
  max-width: 500px;
  text-indent: 10px;
}

nav{
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 100%;
}

nav a{
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 0 .5rem;
  color: #f7c83b;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover{
  background: #f7c83b;
  color: #564a94;
}

nav a.active{
  
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: .3rem 0;
  background-color: #27254c;
  color: #f7c83b;
  font-family: 'DM Serif Display', serif;
  position: relative;
}


header h1{
  font-size: 2.5rem;
  letter-spacing: 2px;
}

footer{
  text-align: center;
  background-color: #27254c;
  color: #f7c83b;
  padding: .6rem;
}

footer h4{
  font-size: .8rem;
  font-weight: 300;
}

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

article{
  padding: 2rem ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.284);
}

article .delete-btn,
article .update-btn{
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: .6rem 1rem;
  color: white;
  border: none;
  cursor: pointer;
}

article .delete-btn{
  background-color: #890815;
}

article .update-btn{
  background-color: #564a94;
  margin-left: .5rem;
}

article button:hover{
  opacity: .9;
}

article button:active{
  opacity: .8;
}



.postTitle{
  font-size: 1.8rem;
  color: black;
}

.postDate{
  color: rgba(0, 0, 0, 0.95);
  margin-top: .2rem;
  font-size: .8rem;
}

.postBody{
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.85);
}

.postLink{
  text-decoration: none;
}

.newpost-form{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

label input,
label textarea{
  display: block;
  width: 100%;
  margin-top: .3rem;
}

label input{
  padding: .5rem 0;
  text-indent: 10px;
  font-size: 1.3rem;
}

textarea{
  height: 250px;
  font-size: 1.3rem;
}

main label:first-child{
  margin-bottom: 2rem;
}

.newpost-form .submit-post-btn,
.newpost-form .update-post-btn{
  margin-top: 1rem;
  padding: .7rem;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.newpost-form .update-post-btn{
  background-color: #f7c83b;
  color: #564a94;
}

.newpost-form .submit-post-btn{
  background-color: #564a94;
  color: #f7c83b;
}

.newpost-form .update-post-btn{
  margin-bottom: 1rem;
}

.about-page{
  text-align: center;
  padding: 2rem;
}

.error-page{
  align-items: center;
  justify-content: center;
}



.no-post-text,
.post-not-found-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header-device-icon{
  position: absolute;
  font-size: 2rem;
  right: 5%;
}

.loading-page{
  align-items: center;
  justify-content: center;
}